
<!DOCTYPE html>
<html>
<head>
  <title>Zarejestruj się</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
    }

    .container {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    h1 {
      text-align: center;
    }

    .form-group {
      margin-bottom: 20px;
    }

    .form-group label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }

    .form-group input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    .form-group button {
      width: 100%;
      padding: 10px;
      background-color: #4CAF50;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .form-group button:hover {
      background-color: #45a049;
    }

    .error {
      color: red;
      font-size: 12px;
      padding-bottom: 15px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Zarejestruj się</h1>
    <form action="/signup" method="POST">
      <% errors.forEach(error => {
        if (error.path === 'name') { %>
          <div class="error"><%= error.msg %></div>
      <% }}) %> 
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required value="<%= oldInput ? oldInput.name : '' %>">
      </div>
      <% errors.forEach(error => {
        if (error.path === 'email') { %>
          <div class="error"><%= error.msg %></div>
      <% }}) %> 
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required value="<%= oldInput ? oldInput.email : '' %>">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required value="<%= oldInput ? oldInput.password : '' %>">
      </div>
      <div class="form-group">
        <button type="submit">Zarejestruj się</button>
      </div>
    </form>
  </div>
</body>
</html>

